@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root{
    --main-color:#f9830b;
    --text-color:#fc4f19;
    --box-shadow:0 0 15px 0 #ddd;
    --text-color2:#333;
    --linear-color:linear-gradient(90deg, #fc4f19 0, #f6a60d 100%)
}
a{
    text-decoration: none !important;
}

ul,li{
padding: 0;
margin: 0;
}

.card{
    border: none !important;
}
nav{
    padding: 20px !important;
    /* background-color: var(--main-color); */
}
nav.active{
    background-color: #fff;
    box-shadow: 2px 12px 16px -10px rgb(168 168 168 / 50%);
    transition: all .5s;
    /* color: #000 !important; */
}
nav ul li{
    padding: 4px !important;
}

nav .nav-item a
{
    font-size: 20px;
    /* font-weight: ; */
    color: #fff !important;
}
nav.active .nav-item a{

    color: #000 !important;
}
nav .dropdown-menu li a{
    color: #000 !important;
}
nav .dropdown-menu li{
    line-height: 40px !important;
}
nav .dropdown-menu li a:hover{
    font-weight: 500;
    background-color: #fc5813 !important;
    color: #fff !important;
    /* padding: 10px !important; */
}
.hero-section{
    min-height: 100vh;
    width: 100%;
}

.carousel-caption {
    /* margin-right: 4rem; */
    position: absolute;
    /* width: 50%; */
    width: 40%;
    /* right: ; */
    top: 10rem;
    left: 15%;
    padding-right: 3rem;
    color: #fff;
   
}
.carousel-item img{
    background-size: cover;
    background-position: center;
}
.carousel-caption h5{
    color: #fff;
    font-weight: bold;
    text-align: left !important;
    font-size: 2rem;
}

.carousel-caption h1{
    font-size: 3rem;
    text-align: left !important;
    font-weight: bold;
}
.carousel-caption p{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left !important;
}

.carousel-caption button
{
    padding: 20px 20px;
    text-align: left !important;
    display: inline-block;
    margin-top: 2rem;
    outline: none;
    border: none;
    color: #fff;
    border: 3px solid #fff;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
}
h2 {
    text-align: center;
    padding: 20px;
}

/* Slider */




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
    margin: 0 10px;
}


.orange{
   color: var(--text-color);
   font-weight: bold;
}
#why{
    margin-top: 10rem !important;
}
#why h1{
    font-weight: bold;
color: #000;
}
#why h4{
    font-weight: bold;
color: #000;
}



#why .container .row .col-lg-6 h3{
    font-weight: bold;
    color: var(--text-color);
    font-size: 30px;
}


/* Colum Second Editing */
.myclass{
    border-radius: 10px;
  
}

.successFullyears{
    font-weight: bold;
    font-size: 2.2rem;
}
.successFullP{
    color: #000;
    font-weight: bold;
    margin-top: 10px !important;
    padding-top: 10px;
}

/* Services Section Start */
.service{
    margin-top: 8rem !important;
}

.service .container .heading h4{
    color: var(--text-color);
    font-size: 2em;
    font-weight: bold;
}
.service .container .headings p{
    color: var(--text-color2) !important;
    font-size: 20px;
}


.service .card{
    /* padding: 1.5rem; */
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #ddd;
    transition: all .2s;
}
.service .card:hover{
    background: var(--linear-color);
}
.service .card:hover p{
    color: #fff !important;

}
.service .card p{
    text-decoration: none !important;
    font-weight: bold;
    color: #000 !important;
    font-size: 20px !important;

}

/* Our Products */
.our-products{
    margin-top: 2rem;
    min-height: 100vh;
    background-image: url(img/our-product-background.svg);
    background-position: center;
    background-size: cover;
    padding: 3rem;
}
.our-products h3{
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}
.our-products h2{
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
}

.intregation{
    margin-top: 5rem;
}
.read{
    margin-top: 5rem;
}
.intregation h3{
    color: var(--text-color);
}
.read h3{
    color: var(--text-color);
}

.exploreNow{
    padding: 20px 50px;
    outline: none;
    border: none;
    color: #fff;
    background: var(--linear-color);
    border-radius: 50px;

}
.exploreNow .content .card{
    box-sizing: border-box;
}
.read .content .card a{
text-decoration: none  !important;
color: var(--text-color) !important;
font-weight: bold;
font-size: 20px;
padding-right: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.read .content .card a i{
    padding-left: 10px;
}

/* Testimonials */

.testimonials .container .red{
    color: var(--text-color);
}

.line
{
    width: 25%;
        border-top: 3px solid #fc4f19;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
}

#testimonlals{
    margin-top: 5rem !important;
}

#testimonlals p{
    color: #000 !important;
    font-weight: bold;
}

/* GeT Free Guide Section Start */

.g-f-g{
    margin-top: 5rem !important;
}

/* Review Section Start */
#reviews
{
    margin-top: 5rem !important;
}

/* Award Section Start */

.award{
    margin-top: 5rem;
}
.management{
    margin-top: 5rem;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #fc4f19 0, #f6a60d 100%);
}